@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #777;
}

.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header header header"
                       "navigation content content";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 15px;
}
