@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header header header"
                       "navigation content content";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 15px;
}

.header {
  grid-area: header;
  padding-left: 20px;
  background-color: #303F9F;
}

.header__logo {
  font-family: 'Kaushan Script', cursive;
  font-size: 36px;
  line-height: 50px;
  text-decoration: none;
  color: inherit;
}

.nav {
  grid-area: navigation;
  height: 300px;
  padding: 10px;
  background-color: #333;
}

.nav ul li {
  font-size: 20px;
  list-style: none;
}

.content {
  grid-area: content;
  padding: 10px;
  background-color: #666;
}

.background {
  width: 100%;

}
